body {
	height: 100%;
	display: block;
	/*设置背景图片*/
	background: url(<%=basePath%>images/body.jpg);
	/*背景大小*/
	background-size: 100% 100%;
	/*内容居中、居中与一条中线*/
	align-items: center;
}
/*文本框class*/
.textaa {
	background: #FFFCEC;
	/*输入框文字大小跟随父容器字体大小*/
	font-size: inherit;
	width: fit-content;
}

h1 {
	/*加粗*/
	font-weight: bold;
	color: #FFFFFF;
	font-size: 100px;
	align: center;
	padding: 30 70 20 70;
	/*设置背景色,并设置半透明*/
	background-color: rgba(119, 136, 153, 0.8);
}

#btn-submit {
	/*输入框文字大小跟随父容器字体大小*/
	font-size: inherit;
}