<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="info.lzzy.dao.StudentMapper">
	<resultMap id="BaseResultMap" type="info.lzzy.models.Student">
		<id column="student_id" jdbcType="VARCHAR" property="studentId" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="password" jdbcType="VARCHAR"
			property="password" />
		<result column="iphone" jdbcType="VARCHAR" property="iphone" />
		<result column="gender" jdbcType="VARCHAR" property="gender" />
		<result column="imgHead" jdbcType="VARCHAR" property="imghead" />
	</resultMap>
	
	<sql id="Base_Column_List">
		student_id, name, email, password, iphone, gender, imgHead
	</sql>
	<select id="selectStudentByIphoneAndPaw"
		resultMap="BaseResultMap">
		SELECT * FROM students WHERE iphone=#{iphone} AND
		password=#{password}
	</select>
	<select id="selectStudentByEmail" resultMap="BaseResultMap">
		SELECT * FROM
		students WHERE email=#{email}
	</select>
	<select id="selectStudentByIphone" resultMap="BaseResultMap">
		SELECT * FROM
		students WHERE iphone=#{iphone}
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		SELECT * FROM
		students
	</select>
	<select id="inquireStudentByKey" resultMap="BaseResultMap">
		select *
		from students
		where student_id like concat('%',#{key},'%')
		or name like
		concat('%',#{key},'%')
		or email like concat('%',#{key},'%')
		or iphone
		like concat('%',#{key},'%')
		order by student_id asc
	</select>
	<select id="selectStudentByCourseId" resultMap="BaseResultMap">
		select * from
		students inner join enrollments on students.student_id =
		enrollments.student_id WHERE enrollments.course_id=#{courseId};
	</select>
	<select id="selectStudentById" resultMap="BaseResultMap">
		SELECT * FROM students
		WHERE student_id=#{id}
	</select>
	<insert id="insert" parameterType="info.lzzy.models.Student">
		insert into students
		(student_id, name, email,
		password, iphone, gender,
		imgHead)
		values
		(#{studentId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
		#{email,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR},
		#{iphone,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR},
		#{imghead,jdbcType=VARCHAR})
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="info.lzzy.models.Student">
		update students
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="iphone != null">
				iphone = #{iphone,jdbcType=VARCHAR},
			</if>
			<if test="gender != null">
				gender = #{gender,jdbcType=VARCHAR},
			</if>
			<if test="imghead != null">
				imgHead = #{imghead,jdbcType=VARCHAR},
			</if>
		</set>
		where student_id = #{studentId,jdbcType=VARCHAR}
	</update>
	<!-- <insert id="insertSelective" parameterType="info.lzzy.models.Student">
		insert into students <trim prefix="(" suffix=")" suffixOverrides=","> <if 
		test="studentId != null"> student_id, </if> <if test="name != null"> name, 
		</if> <if test="email != null"> email, </if> <if test="password != null"> 
		password, </if> <if test="iphone != null"> iphone, </if> <if test="gender 
		!= null"> gender, </if> <if test="imghead != null"> imgHead, </if> </trim> 
		<trim prefix="values (" suffix=")" suffixOverrides=","> <if test="studentId 
		!= null"> #{studentId,jdbcType=VARCHAR}, </if> <if test="name != null"> #{name,jdbcType=VARCHAR}, 
		</if> <if test="email != null"> #{email,jdbcType=VARCHAR}, </if> <if test="password 
		!= null"> #{password,jdbcType=VARCHAR}, </if> <if test="iphone != null"> 
		#{iphone,jdbcType=VARCHAR}, </if> <if test="gender != null"> #{gender,jdbcType=VARCHAR}, 
		</if> <if test="imghead != null"> #{imghead,jdbcType=VARCHAR}, </if> </trim> 
		</insert> <update id="updateByPrimaryKeySelective" parameterType="info.lzzy.models.Student">
		update students <set> <if test="name != null"> name = #{name,jdbcType=VARCHAR}, 
		</if> <if test="email != null"> email = #{email,jdbcType=VARCHAR}, </if> 
		<if test="password != null"> password = #{password,jdbcType=VARCHAR}, </if> 
		<if test="iphone != null"> iphone = #{iphone,jdbcType=VARCHAR}, </if> <if 
		test="gender != null"> gender = #{gender,jdbcType=VARCHAR}, </if> <if test="imghead 
		!= null"> imgHead = #{imghead,jdbcType=VARCHAR}, </if> </set> where student_id 
		= #{studentId,jdbcType=VARCHAR} </update> <update id="updateByPrimaryKey" 
		parameterType="info.lzzy.models.Student"> update students set name = #{name,jdbcType=VARCHAR},
		email = #{email,jdbcType=VARCHAR}, password = #{password,jdbcType=VARCHAR}, 
		iphone = #{iphone,jdbcType=VARCHAR}, gender = #{gender,jdbcType=VARCHAR}, 
		imgHead = #{imghead,jdbcType=VARCHAR} where student_id = #{studentId,jdbcType=VARCHAR} 
		</update> -->
</mapper>